#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	# Install files to debian/sonda/usr/share/sonda
	mkdir -p debian/sonda/usr/share/sonda
	cp -r ../src/bin ../src/lib ../src/modules ../assets debian/sonda/usr/share/sonda/
	# Install binary to /usr/bin
	mkdir -p debian/sonda/usr/bin
	cp ../src/bin/sonda debian/sonda/usr/bin/
	chmod +x debian/sonda/usr/bin/sonda
	# Install desktop file
	mkdir -p debian/sonda/usr/share/applications
	cp ../assets/shortcuts/sonda.desktop debian/sonda/usr/share/applications/
	# Install icon
	mkdir -p debian/sonda/usr/share/pixmaps
	cp ../assets/icons/sonda.png debian/sonda/usr/share/pixmaps/
	# Install version file to root of installation
	cp ../src/version debian/sonda/usr/share/sonda/

# No Python package to process - all Python deps are in Depends

override_dh_auto_build:
	# No build step needed for bash scripts
	@echo "No build step required"
